on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Build and Test
jobs:
  build_test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: us-east-1

    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Pull LocalStack Docker image
      run: docker pull localstack/localstack &
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10.5'
    - name: Install dependencies
      run: make install
    - name: Run code linter
      run: make lint
    - name: Run tests
      run: make test
